apipkg==1.4
appdirs==1.4.3
atomicwrites==1.1.5
attrs==18.1.0
black==18.6b4
certifi==2018.4.16
chardet==3.0.4
click==6.7
coverage==4.5.1
coveralls==1.3.0
docopt==0.6.2
execnet==1.5.0
idna==2.7
more-itertools==4.2.0
pep8==1.7.1
pip-autoremove==0.9.1
pluggy==0.6.0
py==1.5.4
pytest==3.6.2
pytest-cache==1.0
pytest-cov==2.5.1
pytest-pep8==1.0.6
requests==2.19.1
six==1.11.0
toml==0.9.4
tox==3.0.0
tox-travis==0.10
urllib3==1.23
virtualenv==16.0.0
